<h1>Listing actors</h1>

<section>
  Filters:
  <% if params[:local_only] %>
    <%= link_to 'All actors', federails.client_actors_url %>
  <% else %>
    <%= link_to 'Only local actors', federails.client_actors_url(local_only: true) %>
  <% end %>
</section>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Username</th>
    <th>Federation address</th>
    <th>Local?</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% if @actors.size.zero? %>
    <tr>
      <td colspan="5">There are no actors to display</td>
    </tr>
  <% end %>
  <% @actors.each do |actor| %>
    <tr>
      <td><%= actor.name %></td>
      <td><%= actor.username %></td>
      <td><%= actor.at_address %></td>
      <td><%= actor.local? %></td>
      <td><%= link_to 'Show', federails.client_actor_url(actor) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
