<!DOCTYPE html>
<html>
  <head>
    <title>Dummy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <nav>
      <% if !current_user %>
        <%= link_to 'Login', main_app.new_user_session_url %>
        <%= link_to 'Register', main_app.new_user_registration_url %>
      <% else %>
        <%= current_user.email %>
        <%= link_to 'Articles', main_app.posts_url %>
        <%= link_to 'New article', main_app.new_post_url %>
        <%= button_to 'Logout', main_app.destroy_user_session_url, method: :delete, form: { style: 'display: inline-block;' } %>
      <% end %>
    </nav>

    <hr>

    <nav>
      <%= render 'federails/client/common/client_links', user: current_user %>
    </nav>

    <hr>
    <%= render 'federails/client/actors/lookup_form' %>
    <hr>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
