<div>
  <b><%= link_to activity.actor.name, federails.client_actor_url(activity.actor) %></b>
  <code><%= activity.action %></code>
  <!-- < %= link_to activity.entity_type, activity.entity %>-->
</div>
