<h1>Your feed</h1>
<p>
  This is the list of activities from actors you follow.
</p>

<% if @activities.size.zero? %>
  <p>There is nothing to display. Start following things!</p>
<% end %>
<% @activities.each do |activity| %>
  <%= render 'activity', activity: activity %>
<% end %>
